<nav class="blue-grey darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <img src="../images/logo.png">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
            <li>
                <a href="/users">
                    <i class="material-icons">account_circle</i>
                </a>
            </li>

        </ul>
    </div>
</nav>