<nav class="orange lighten-4">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="../images/logo.png">
            </a>
            <hr>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="/posts" data-target="most-searched-dropdown">Posts</a>
                </li>
                <li>
                    <a class="dropdown-trigger" href="/events" data-target="most-searched-dropdown">Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>