<div class="row">
    <div class="col s12 center-align">
        <h1>
            <span class="hide-on-small-only">Welcome to </span>Aptly</h1>
        <p class="tagline">Become a part of your apartment building</p>
    </div>
</div>