<!DOCTYPE html>

<div class="row main">
    <div class="row profile">
        
        <h4 class="col offset-m5">My Profile</h4>
        <div class="container">
        <p>Name:
            <span id="name">John</span>
        </p>
        <p>Name:
            <span id="name">John</span>
        </p>
        <p>Name:
            <span id="name">John</span>
        </p>
        <p>Name:
            <span id="name">John</span>
        </p>
        <br>
        </div>
    </div>
    <div class="row">
        <div class="col offset-m5">
            <a href="/register">
                <button type="submit" id="register" tabindex="2" class="btn btn-lg orange darken-2 waves-effect text-center">Posts</button>
            </a>
            <a href="/login">
                <button type="submit" id="login" tabindex="2" class="btn btn-lg orange darken-2 waves-effect text-center">Event</button>
            </a>
        </div>
    </div>

</div>