<div class="background">
    <div class="container center-align">
        <div class="row">
            <div class="col s12">
                <h1><span class="hide-on-small-only">Welcome to </span>Name</h1>
                <p class="tagline">This is where our spiffy tagline can go.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="row">
                    <div class="card-panel overflow-auto">
                        <h2>Log In</h2>
                        <form>
                            <div class="input-field col s12">
                                <i class="material-icons prefix left-align">person</i>
                                <input id="username-input" type="text">
                                <label for="username-input">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix left-align">lock</i>
                                <input id="password-input" type="password">
                                <label for="password-input">Password</label>
                            </div>
                            <button class="btn orange darken-3 waves-effect waves-orange" type="submit" id="login-button">Sign In</button>
                        </form>
                        <p>Not a member yet? <a href="/register">Register now!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>