{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col s12 right-align">
            <a class="btn-floating waves-effect orange darken-3 waves-effect waves-orange" id="new-post-button" href="/posts/new">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card small orange lighten-5">
                <div class="card-content">
                    <span class="card-title">
                        <i class="material-icons">attach_money</i> Post Title</span>
                    <p>
                        <a href="/users/id">Mr. Neighbor</a>
                    </p>
                    <p>May 31 at 3:21 pm</p>
                    <br>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="card-action white">
                    <a class="modal-trigger" href="#modal-1">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">favorite_border</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div id="modal-1" class="modal">
                <div class="modal-content">
                    <h2>Post Title</h2>
                    <h3>Author</h3>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card small orange lighten-5">
                <div class="card-content">
                    <span class="card-title">
                        <i class="material-icons">attach_money</i> Post Title</span>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="card-action white">
                    <a class="modal-trigger" href="#modal-1">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">favorite_border</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div id="modal-1" class="modal">
                <div class="modal-content">
                    <h2>Post Title</h2>
                    <h3>Author</h3>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card small orange lighten-5">
                <div class="card-content">
                    <span class="card-title">
                        <i class="material-icons">attach_money</i> Post Title</span>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="card-action white">
                    <a class="modal-trigger" href="#modal-1">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">favorite_border</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div id="modal-1" class="modal">
                <div class="modal-content">
                    <h2>Post Title</h2>
                    <h3>Author</h3>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card small orange lighten-5">
                <div class="card-content">
                    <span class="card-title">
                        <i class="material-icons">attach_money</i> Post Title</span>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="card-action white">
                    <a class="modal-trigger" href="#modal-1">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">favorite_border</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div id="modal-1" class="modal">
                <div class="modal-content">
                    <h2>Post Title</h2>
                    <h3>Author</h3>
                    <p>Created May 31, 2018 at 3:21 PM</p>
                    <p>by Mr. Neighbor</p>
                    <p>Minim eu duis ex dolore do velit ullamco veniam voluptate mollit culpa. Elit esse consequat nisi esse
                        amet nostrud. Ex magna et nisi Lorem fugiat dolor laborum. Anim ut veniam ullamco nisi sunt.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>