<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project2</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title></title>
</head>

<div class="main">
    <div class="container">
        <div class="row" id="register-form">
            <div class="col s12 m8 20 offset-m2 offset-l3">
                <div class="row">
                    <div class="card-panel grey lighten-5 overflow-auto">
                        <h2>Register</h2>
                        <form id="register" name="register" method="post" action="/register">
                            <div class="row">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <label for="email">Email Address</label>
                                        <input class="text" name="email" type="email" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="firstname">Firstname</label>
                                        <input name="firstname" type="text" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="lastname">Lastname</label>
                                        <input name="lastname" type="text" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="password">Password</label>
                                        <input name="password" type="password" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="username">Username</label>
                                        <input name="username" type="text" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="leaseend">Lease End</label>
                                        <input name="leaseend" type="date" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="unitnumber">Username</label>
                                        <input name="unitnumber" type="text" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="phone">Phone Number</label>
                                        <input name="phone" type="tel" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="interest">Interest</label>
                                        <input name="interest" type="text" />
                                    </div>
                                    <div class="input-field col s3">
                                        <label for="address">Address</label>
                                        <input name="address" type="text" />
                                    </div>
                                </div>
                                <input class="btn" type="submit" value="Sign Up" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- <div class="background">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="card-panel grey lighten-5 overflow-auto">
                        <h2 class="center-align">Register</h2>
                        <form>
                            <div class="row">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <input id="userName" type="text" class="validate">
                                        <label for="userName">User Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="firstName" type="text" class="validate">
                                        <label for="firstName">First Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="lastName" type="text" class="validate">
                                        <label for="lastName">Last Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s3">
                                        <input id="unitNumber" type="text" class="validate">
                                        <label for="unitNumber">Unit Number</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input placeholder="12012017" id="leaseEnd" type="text" class="validate">
                                        <label for="leaseEnd">Lease End</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input placeholder="6121112222" id="phone" type="text" class="validate">
                                        <label for="phone">phone</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s6">
                                        Preference (Posts)
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Sell/Buy</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Lost/Found</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Community Rooms</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Misc</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>

                                    <div class="col s6">
                                        Preference (Events)
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Music</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Arts</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Sports</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Misc</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>
                                    
                                </div>
                                <div class="center-align"><button class="btn orange darken-3 waves-effect waves-orange" type="submit" id="register-button"><i class="material-icons right">add_circle_outline</i>Register</button></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}