<div class="main">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 20 offset-m2 offset-l3">
                <div class="row">
                    <div class="card-panel grey lighten-5 overflow-auto">
                        <h2 class="center-align">Register</h2>
                        <form>
                            <div class="row">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <input id="userName" type="text" class="validate">
                                        <label for="userName">User Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="first_name" type="text" class="validate">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s3">
                                        <input id="unitNumber" type="text" class="validate">
                                        <label for="unitNumber">Unit Number</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input placeholder="12/01/2017" id="leaseEnd" type="text" class="validate">
                                        <label for="leaseEnd">Lease End</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input placeholder="612-111-2222" id="phone" type="text" class="validate">
                                        <label for="phone">phone</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s6">
                                        Preference (Posts)
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Sell/Buy</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Lost/Found</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Community Rooms</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Misc</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>

                                    <div class="col s6">
                                        Preference (Events)
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Music</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Arts</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Sports</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Misc</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>
                                    
                                </div>
                                <div class="center-align"><button class="btn orange darken-3 waves-effect waves-orange" type="submit" id="register-button"><i class="material-icons right">add_circle_outline</i>Register</button></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>