<div class="background">
    <div class="container center-align">
        {{> tagline}}
        <div class="row last-row" id="register-form">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="card-panel overflow-auto">
                        <h2>Register</h2>
                        {{#if registerFail}}
                        <h5 class="accounterror">That email is already in use.</h5>
                        <p>Already a member?
                            <a href="/login">Login now!</a>
                        </p>
                        {{/if}}
                        <form id="register" name="register" method="post" action="/register">
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">filter_1</i>
                                <input id="firstname" name="firstname" type="text" />
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">filter_2</i>
                                <input id="lastname" name="lastname" type="text" />
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">location_city</i>
                                <input id="unitnumber" name="unitnumber" type="text" />
                                <label for="unitnumber">Unit Number</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">phone</i>
                                <input id="phone" name="phone" type="tel" />
                                <label for="phone">Phone Number</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">date_range</i>
                                <input id="leasestart" name="leasestart" type="text" class="datepicker" />
                                <label for="leasestart">Lease Start</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">exit_to_app</i>
                                <input id="leaseend" name="leaseend" type="text" class="datepicker" />
                                <label for="leaseend">Lease End</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">email</i>
                                <input id="email" class="text" name="email" type="email" />
                                <label for="email">Email Address</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix left-align">vpn_key</i>
                                <input id="password" name="password" type="password" />
                                <label for="password">Password</label>
                            </div>
                            <button class="btn orange darken-3 waves-effect waves-orange" type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>